@font-face {
  font-family: "CuteFont";
  src: url("./XiaolaiSC-Regular.ttf");
}

@font-face {
    font-family: "PixelFont";
    src: url("./Cubic_11.ttf");
}

@font-face {
  font-family: "ChineseFont";
  src: url("./chneseFont.ttf");
}